[user]
	# Commit者名稱
		name = Ｖ字龍(Vdragon)
	# Commit者電子郵件地址
		email = Vdragon.Taiwan@gmail.com
[core]
	# 相關操作慣用的文字編輯器
		editor = nano
	# 相關操作慣用的文字檢視器
		pager = less --tabs=2
[credential]
	# 保存HTTPS驗證慣用的方式
		helper = cache --timeout 3600
			# --timeout
			# 	密碼暫存逾時時間（單位：秒）
[color]
	# 介面色彩設定
		ui = auto
